# MongoDB Atlas Connection
MONGO_DATABASE=
MONGO_USER=
MONGO_PASS=

# JWT Settings
JWT_SECRET=
JWT_EXPIRATION=

# Nodemailer Settings
MAILER_SECRET=
MAILER_HOST='smtp.gmail.com'
MAILER_PORT='587'
MAILER_USER=
MAILER_PASS=
